# Ignorar todos os arquivos
*

# Não ignorar o próprio arquivo .gitignore
!.gitignore

# Não ignorar diretórios
!*/

# Não ignorar arquivos específicos
!arquivo_que_quero_monitorar.txt
!beta52.py
!Gerenciador de VPS.py
!Compilar.bat
!Compilar.ps1
!LICENSE
!checar scheduler e cc.py
!Compilar checar scheduler e cc.ps1
!Compilar com LOG.ps1
!proxy socks5 tcp.py
!Compilar Proxy TCP.ps1
!proxy socks5 tcp-udp VPN.py
!proxy socks5 tcp-udp JOGO.py
!Compilar Proxy TCP-UDP VPN.ps1
!Compilar Proxy TCP-UDP JOGO.ps1
!proxy socks5 tcp-udp geral.py
!hakai.py
!compila hakai.ps1
!cliente_temer.py
!Compilar Cliente_Temer.ps1
!/server_status_*.png
!dist/cliente_temer.exe
!dist/Gerenciador de VPS.exe
!dist/proxy socks5 tcp-udp JOGO.exe
!dist/proxy socks5 tcp-udp VPN.exe
!atualizador.py
!Compilar atualizador.ps1
!dist/atualizador.exe
!boa noite.png
!boa tarde.png
!bom dia.png
!fundo.png
!feliz_aniver_mimo.png

# Não ignorar diretórios específicos e seus conteúdos
!diretorio_que_quero_monitorar/
!diretorio_que_quero_monitorar/**

# Não ignorar diretórios específicos e seus conteúdos (com espaços no nome)
!Scripts Locais/
!Scripts Locais/**
!Sobre/
!Sobre/**

# Ignorar arquivo específico dentro de Scripts Locais
Scripts Locais/teste.bat
old_beta/server_status_*.png
/build
